.navigation_header {
    font-family: Mohave;
    font-size: 2rem;
    letter-spacing: -1.61px;
    color: #fff;
  }
  
  html {
    font-size: 16px;
  }

  h3 {
    font-family: Mohave;
    font-size: 32.3px;
    letter-spacing: -1px;
    color: #fff;
  }

    .navigation_header a:hover {
      transition: 0.3s ease-in-out; 
      color: #a954f5; 
      transform: translateY(-5px); 
  }

  .ret_botao_navigation:hover {
      background-image: linear-gradient(to bottom, #0f0c54 0%, #9e3fdd);
      border-color: #6525b5;
  }

  a {
    text-decoration:none !important
  }

  body {
    background-image: linear-gradient(to bottom, #000, #0a071d);
  }
  
  .header,
  .navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  .header {
    justify-content: space-between;
    display: flex;
    padding: 0 4% 4%;
    height: 10em;
    width: auto;
    
  }
  
  .navigation_header {
    gap: 2em;
    align-items: center;
  }
  
  .navigation_header a {
    text-decoration: none;
    color: #fff;
    transition: 1s;
    white-space: nowrap;
    
    }
  
  .ret_botao_navigation {
    -webkit-text-stroke: 1.6px #000;
    font-family: Mohave;
    font-size: 43px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -2.15px;
    text-align: center;
    color: #fff;
  
    border-radius: 17.1px;
    border: solid 1.6px #000;
    padding: 2%;
    background-image: linear-gradient(to bottom, #04034f 0%, #8929d4);
  }

  img.Group-26 {
    position: fixed;
  }

  @media (max-width:958px) {
    body {
      display: flex;
      justify-content: center;
      align-items: start; 
    }
  
    .header {
      display: flex;
      gap: 50px;
    }
  
    .navigation_header {
      padding-left: 30%;
    }
  
    main {
      width: 100%; 
      max-width: 960px; 
      margin: 0 auto; 
      padding: 20px; 
    }
  }
  



  /* Estilos para animação de slide */
.slide-out {
  animation: slideOut 0.5s ease-in-out forwards;
}

.slide-in {
  animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

