  body {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .A-programao-para-todos {
    font-family: Mohave;
    font-size: 136.9px;
    line-height: 1;
    letter-spacing: -6.85px;
    text-align: middle;
    color: #fff;
  }
  
  .A-programao-para-todos .text-style-1 {
    font-size: 144.5px;
    font-weight: 500;
    font-style: italic;
    line-height: 1;
    letter-spacing: -7.22px;
  }
  
  
  .nome_barra_mkt {
    position: static;
    width: 707px;
  }
  
  .img_barra_mkt {
    position: static;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh; 
    padding-left: 30%;
    padding-right: 30%;
  }
  
  .table_cursos {
    display: flex;
    align-items: center;
    justify-content: center;
    th, td {
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 60px;
      padding-right: 70px;
    }
    
  }
  
  .table_cursos_img {
    align-items: center;
    width: 130%; /* Aumenta a largura das imagens */
    height: 130%; /* Aumenta a altura das imagens */
  }

  .table_column_ecossistema {
    display: flex;
    align-items: center;
    flex-direction: column;  
  }

  .table_ecossistema {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120%;
    height: 120%;
    
  }
  
  .Ensino-gratuito-e-aberto-para-todo-o-mundo {
    width: 204.8px;
    height: 106.5px;
    font-family: Mohave;
    font-size: 28.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -1.43px;
    text-align: center;
    color: #fff;
  }
  .Ensino-gratuito-e-aberto-para-todo-o-mundo .text-style-1 {
    font-weight: 500;
    font-style: italic;
  }
  
  
  .Trilha-de-carreiras-para-todo-tipo-de-perfis-profissionais {
    width: 204.8px;
    height: 106.5px;
    font-family: Mohave;
    font-size: 28.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -1.43px;
    text-align: center;
    color: #fff;
  }
  
  .Trilha-de-carreiras-para-todo-tipo-de-perfis-profissionais .text-style-1 {
    font-weight: 500;
    font-style: italic;
  }
  
  .vector {
    width: 113.4px;
    height: 113.4px;
  }

  @media (max-width:1488px) {
    .table_cursos {
      overflow-x: auto; /* Adiciona uma barra de rolagem horizontal */
      display: inline-block; /* Evita que a tabela "saia" da tela */
      max-width: 1467px; /* Garante que a tabela não ultrapasse a largura da tela */
      align-items: center;
      justify-content: center;
      padding-left: 8%;
      padding-right: 8%;
    } .container {
      overflow-x: auto; /* Adiciona uma barra de rolagem horizontal */
      display: inline-block; /* Evita que a tabela "saia" da tela */
      max-width: 1467px;
      max-height: 1629px;
      
    }

  }
  