html,body{
  height: 100%;
  }
      
   .img_barra_01, .img_barra_02, .img_barra_03, .uma-plataforma-dedicada, .bem-vindo, .pronto, .botao-cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 2% 2%; 

  }

  .container p {
    color: black; 
}
  .container_header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Mohave;
    font-size: 200%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
  }

  .botao-cadastrar {
    border: none;
    background: none;
    cursor: pointer;
    padding: 1px;
    align-items: center;
    justify-content: center;
    position: static;
  }
  
  .botao-cadastrar img {
    min-width: 20%; /* Ajuste o tamanho conforme necessário */
    align-items: center;
    position: static;
  }

  .Fale-conosco {
    width: 304px;
    height: 71px;
    font-family: Mohave;
    font-size: 70.8px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -3.54px;
    text-align: center;
    color: #fff;
    position: static;
  }

  .form-container {
    width: 231px;
    height: 32px; 
    margin: 8.5px 27.75px 9px 0; 
    padding: 8.5px 184px 8.5px 11.5px; 
    border-radius: 10.5px; 
    background-color: #f0f0f0;
  }

  .Talk-form {
    width: 1148px;
    height: 667px;
    margin: 5rem auto 10rem;
    padding: 25px 54px 35px;
    border-radius: 33.1px;
    box-shadow: inset 0 3.7px 8.2px 0 rgba(0, 0, 0, 0.25), 0 3.7px 12.4px 2.8px rgba(214, 212, 212, 0.25);
    background-color: #fff;
  }


@media (max-width:1488px) {
  .img_barra_01, .img_barra_02, .img_barra_03, .uma-plataforma-dedicada, .bem-vindo, .pronto, .botao-cadastrar, .container_header  {
    display: block;
    width: 40%;
  }

  .img_barra_01, .img_barra_02, .img_barra_03 {
    padding-top: 30px;
    padding-left: 150px;
    padding-bottom: 20px;
  }

  .bem-vindo {
    padding-left: 150px;
    padding-bottom: 30px;
  }

  .uma-plataforma-dedicada {
    padding-left: 80px;
    padding-bottom: 20px;
  }

  .pronto {
    padding-left: 110px;
  }

  .Fale-conosco {
    display: block;
    padding-left: 500px;
  }

  .botao-cadastrar {
    display: block;
    padding-top: 30px;
    padding-left: 500px;
  }

  .align-container {
    display: block;
    padding-left: 150px;
  }
}


  