html,body{
    height: 100%;
    }
    
    .form-containerrr{
    max-width: 350px;
    padding: 1rem;
    background-color: white; 
    border-radius: 6%;      
    padding: 20px;
    }


.teste {
    margin-right: 15px;
}

#form_cadastrar_aqui {
    font-family: Mohave;
    font-size: 20px;
    letter-spacing: -0.61px;
    color: gray;
    cursor: pointer;
}

