.principal {
  display: flex;
  flex-direction: column;
  height: auto;
  padding:  5% 10% 0;
  box-shadow: 0 7.8px 7.8px 0 rgba(0, 0, 0, 0.25), inset 0 7.8px 22.1px 0 rgba(255, 252, 252, 0.25);
  background-image: var(--cor-fundo); 
}
.cor-java {
  --cor-fundo: radial-gradient(circle at 50% 50%, #e97331 22%, #f00 76%);
}
.cor-htmlecss {
  --cor-fundo: radial-gradient(circle at 50% 50%, #FF9D66 22%, #F25E0B 76%);
}
.cor-sql{
  --cor-fundo: radial-gradient(circle at 50% 50%, #0BF0FF 12%, #2978D4 88%);;
}
.cor-ruby{
  --cor-fundo: radial-gradient(circle at 50% 50%, #FB3F3F 12%, #FF0000 88%);
}
.cor-javascript {
    --cor-fundo: radial-gradient(circle at 50% 50%, #FFF500 12%, #F2A40B 88%)
}
.cor-python {
  --cor-fundo: radial-gradient(circle at 50% 50%, #8929D4 12%, #0A07B5 88%)
}
.titulo {
  font-family: Mohave;
  font-size: 8vw; 
  font-weight: 550;
  letter-spacing:-0.5vw;
  color: #fff;
  margin-top: 2%; 
  margin-bottom: 2%;
}
.texto-inicial { 
  font-family: Mohave;
  font-size: 1.4vw;
  line-height: 1.1;
  letter-spacing: -1.01px;
  color: #fff; 
}
.dados{
  margin-top: 0%;
  min-height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container {
  margin-left: 11.5%;
  margin-top: 2%;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  gap:15px;
  justify-content: center ;
}
.texto {
  width: 170px;
  height: 70px;
  margin: 5.4px 122.2px 126.6px 13.4px;
  font-family: Mohave;
  font-size: 35.4px;
  line-height: 1;
  letter-spacing: -1.77px;
  text-align: center;
  color: #fff;
  flex-direction: row;
  max-width: 200px;
}
.numero {
  width: 60px;
  height: 88px;
  font-family: Mohave;
  font-size: 88.4px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -4.42px;
  text-align: center;
  flex-direction: row;
  max-width: 100px;
}
.numerocorjava {
  color: #f25e0b;
}
.numerocorhtmlecss{
  color: #FD9459;
}
.numerocorsql {
  color: #2978D4;
}
.numerocorruby {
  color: #D10303;
}
.numerocorjavascript {
  color: #F8C606;
}
.numerocorpython {
  color: #8929D4;
}


.middle {
  width: 400.5px;
  height: 156px;
  margin-left: 11%;
  font-family: Mohave;
  font-size: 73.3px;
  line-height: 1;
  letter-spacing: -3.92px;
  text-align: left;
  color: #fff;
}
.simbolo {
  font-weight: 500;
  font-style: italic;
  color: var(--cor-simbolo)
}
.simbolo-cor-java{
  --cor-simbolo:#f25e0b;
}
.simbolo-cor-html-e-css{
  --cor-simbolo:#FD9459;
}
.simbolo-cor-sql{
  --cor-simbolo: #2978D4;
}
.simbolo-cor-ruby{
  --cor-simbolo:#D10303;
}
.simbolo-cor-javascript{
  --cor-simbolo:#F8C606;
}
.simbolo-cor-python{
  --cor-simbolo:#8929D4;
}

.middle-2 {
  width: 335.7px;
  height: 54px;
  margin: 11%;
  font-family: Mohave;
  font-size: 26.8px;
  line-height: 1;
  letter-spacing: -1.34px;
  text-align: left;
  color: #fff;
}
.middle-2 .text-style-1 {
  font-weight: 500;
  font-style: italic;
}

.container-sections {
  display: flex; /* Ativa o layout flexível */
  gap: 20px; /* Adiciona espaçamento entre as seções */
}

.texto-3, .Rectangle-15 {
  flex: 1; /* Faz com que as seções ocupem o mesmo espaço horizontalmente */
}


.Rectangle-15 {
  width: 570px;
  height: 667px;
  margin-right: 5%;
  margin-top: 0;
  padding: 31.5px 0.5px 0.5px 0.3px;
  border-radius: 33.1px;
  box-shadow: inset 0 3.7px 8.2px 0 rgba(0, 0, 0, 0.25), 0 3.7px 12.4px 2.8px rgba(214, 212, 212, 0.25);
  background-color: #fff;
  float: right;
}
.conteudo {
  width: 296px;
  height: 27px;
  flex-grow: 0;
  margin-left: 10%;
  margin-bottom: 50%;
  font-size: 26.8px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1.34px;
  color: #04034f;
  font-family: Mohave;
}
.atividade {
  width: 63px;
  height: 15px;
  flex-grow: 0;
  margin-left: 10%;
  margin-bottom: 50%;
  font-size: 15.4px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.77px;
  color: #04034f;
  font-family: Mohave;
}

.container-sections {
  display: flex;
  gap: 20px; 
}

.texto-3, .Rectangle-15 {
  flex: 1
}




 .Fale-conosco {
  width: 304px;
  height: 71px;
  margin: 123px auto 10px auto; 
  font-family: Mohave;
  font-size: 70.8px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -3.54px;
  text-align: left;
  color: #fff;
}
.Talk-form {
  width: 1148px;
  height: 667px;
  margin: 10px auto 1429.3px auto;
  padding: 25px 54px 35px;
  border-radius: 33.1px;
  box-shadow: inset 0 3.7px 8.2px 0 rgba(0, 0, 0, 0.25), 0 3.7px 12.4px 2.8px rgba(214, 212, 212, 0.25);
  background-color: #fff;
}
.column {
    flex: 1;
    margin-right: 10px;
}
    .column:last-child {
        margin-right: 0;
    }
label {
    display: block;
    margin-bottom: 5px;
}
.Line-133 {
    width: 5px;
    height: 607px;
    margin: 0 55.5px 0 55.5px;
    transform: rotate(-270deg);
    background-color: #ebebeb;
}
.notification {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.notification h2 {
  color: #333;
}
.notification p {
  color: #666;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-image: linear-gradient(to bottom, #04034f 0%, #8929d4);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-image: linear-gradient(to bottom, #04034f 0%, #8929d4);
}
.form-container {
  width: 231px;
  height: 32px; 
  margin: 8.5px 27.75px 9px 0; 
  padding: 8.5px 184px 8.5px 11.5px; 
  border-radius: 10.5px; 
  background-color: #f0f0f0;
}
.Duvidas {
  width: 119px;
  height: 46px;
  flex-grow: 0;
  margin: 24px 73px 17px 8px;
  font-family: Mohave;
  font-size: 45.6px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2.28px;
  text-align: left;
  color: #04034f;
}
.Contato {
  width: 122px;
  height: 46px;
  flex-grow: 0;
  margin: 24px 63px 17px 15px;
  font-family: Mohave;
  font-size: 45.6px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2.28px;
  text-align: left;
  color: #04034f;
}
.titulovideos {
  position: absolute;
  top: 43%;
  left: 19%;
  margin-bottom: 10px;
  font-family: Mohave;
  font-size: 140px; 
  font-weight: 500;
  line-height: 1;
  letter-spacing: -8.88px;
  color: #fff;
}

.bottom {
  margin-left: 15%;
  margin-bottom: 15%;
  font-family: Mohave;
  font-size: 57px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 8.88px;
  color: #fff;
}