
.principal {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 5% 10% 0;
  box-shadow: 0 7.8px 7.8px 0 rgba(0, 0, 0, 0.25), inset 0 7.8px 22.1px 0 rgba(255, 252, 252, 0.25);
  background-image: var(--cor-fundo); 
  justify-content: center;
}

.cor-java {
  --cor-fundo: radial-gradient(circle at 50% 50%, #e97331 22%, #f00 76%);
}
.cor-html-e-css {
  --cor-fundo: radial-gradient(circle at 50% 50%, #FF9D66 22%, #F25E0B 76%);
}
.cor-sql{
  --cor-fundo: radial-gradient(circle at 50% 50%, #0BF0FF 12%, #2978D4 88%);;
}
.cor-ruby{
  --cor-fundo: radial-gradient(circle at 50% 50%, #FB3F3F 12%, #FF0000 88%);
}
.cor-javascript {
    --cor-fundo: radial-gradient(circle at 50% 50%, #FFF500 12%, #F2A40B 88%)
}
.cor-python {
  --cor-fundo: radial-gradient(circle at 50% 50%, #8929D4 12%, #0A07B5 88%)
}

.titulo {
  font-family: Mohave;
  font-size: 9vw; 
  font-weight: 550;
  letter-spacing:-0.5vw;
  color: #fff;
  padding-bottom: 0;
  margin-bottom: 4%;
  
}
.texto-inicial { 
  font-family: Mohave;
  font-size: 1.4vw;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #fff; 
  position: relative;
  bottom: 4em;
}

.dados{
  margin-top: 0%;
  min-height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container-info {
  margin-top: 2%;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  gap:15px;
  justify-content: center ;
}
.texto {
  width: 170px;
  height: 70px;
  margin: 5.4px 58.2px 126.6px 15.4px;
  font-size: 35.4px;
  letter-spacing: -1.77px;
  color: #fff;
  max-width: 200px;

}

#textomod {
  margin-left: 0%;
}

.numero {
  width: 60px;
  height: 88px;
  font-size: 88.4px;
  font-weight: 500;
  letter-spacing: -4.42px;
  max-width: 100px;
}

.texto, .numero{
  text-align: center;
  flex-direction: row;
  font-family: Mohave;
  line-height: 1;
}

.numerocorjava {
  color: #f25e0b;
}
.numerocorhtmlecss{
  color: #FD9459;
}
.numerocorsql {
  color: #2978D4;
}
.numerocorruby {
  color: #D10303;
}
.numerocorjavascript {
  color: #F8C606;
}
.numerocorpython {
  color: #8929D4;
}


.middle {
  width: 400.5px;
  height: 156px;
  font-size: 73.3px;
  letter-spacing: -3.92px;
}

.simbolo {
  font-weight: 500;
  font-style: italic;
  color: var(--cor-simbolo)
}
.simbolo-cor-java{
  --cor-simbolo:#f25e0b;
}
.simbolo-cor-html-e-css{
  --cor-simbolo:#FD9459;
}
.simbolo-cor-sql{
  --cor-simbolo: #2978D4;
}
.simbolo-cor-ruby{
  --cor-simbolo:#D10303;
}
.simbolo-cor-javascript{
  --cor-simbolo:#F8C606;
}
.simbolo-cor-python{
  --cor-simbolo:#8929D4;
}

.middle-2 {
  width: 335.7px;
  height: 54px;
  font-size: 26.8px;
  letter-spacing: -1.34px;
  position: relative;
}

.middle, .middle-2{
  margin-left: 17%;
  font-family: Mohave;
  text-align: left;
  color: #fff;
  line-height: 1;
  

}
.text-style-1 {
  font-weight: 500;
  font-style: italic;
}

.container-sections {
  display: flex; 
  gap: 20px; 
}

.texto-3, .Rectangle-15 {
  flex: 1; 
}


.Rectangle-15 {
  width: 570px;
  height: 667px;
  margin-right: 5%;
  margin-top: 0;
  padding: 31.5px 0.5px 0.5px 0.3px;
  border-radius: 33.1px;
  box-shadow: inset 0 3.7px 8.2px 0 rgba(0, 0, 0, 0.25), 0 3.7px 12.4px 2.8px rgba(214, 212, 212, 0.25);
  background-color: #fff;
  float: right;
}


.conteudo {
  width: 296px;
  height: 27px;
  font-size: 26.8px;
  font-weight: 500;
}

.atividade {
  width: 63px;
  height: 15px;
  font-size: 15.4px;
  font-weight: 300;
}

.atividade,.conteudo{
  line-height: 1;
  letter-spacing: -0.77px;
  color: #04034f;
  margin-left: 10%;
  margin-bottom: 50%;
  font-family: Mohave;
  flex-grow: 0;

}

li{
  list-style-type: none;
}

.container-sections {
  display: flex;
  gap: 20px; 
  flex-wrap: wrap;
}

.texto-3, .Rectangle-15 {
  flex: 1
}


.tabela_sl{
  margin-top: 10%;
  margin-left: 16%;

}

.carreiras{
  margin-top: 10%;
  margin-left: 55%;

}

.textura{
  right: 0;
  margin-top: -30%;
}


.tabela_sl, .carreiras, .textura{
  position: absolute;
}


.carreiras, .tabela_sl, .Rectangle-15{
  z-index: 1;
}


.numero, .texto, .conteudo, .atividade {
  transition: transform 0.3s ease, color 0.3s ease;
}
.numero:hover, .texto:hover {
  transform: translateY(-10px);
  color: #8929d4; 
}
.conteudo:hover, .atividade:hover {
  transform: translateY(-10px);
  color: #8929d4; 
}



 .Fale-conosco {
  width: 304px;
  height: 71px;
  margin: 123px auto 10px auto; 
  font-family: Mohave;
  font-size: 70.8px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -3.54px;
  text-align: left;
  color: #fff;
}

.column {
    flex: 1;
    margin-right: 10px;
}

    .column:last-child {
        margin-right: 0;
    }

label {
    display: block;
    margin-bottom: 5px;
}

.Line-133 {
    width: 5px;
    height: 607px;
    margin: 0 55.5px 0 55.5px;
    transform: rotate(-270deg);
    background-color: #ebebeb;
}

.notification {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.notification h2 {
  color: #333;
}

.notification p {
  color: #666;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-image: linear-gradient(to bottom, #04034f 0%, #8929d4);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-image: linear-gradient(to bottom, #04034f 0%, #8929d4);
}


.Duvidas {
  width: 119px;
  height: 46px;
  flex-grow: 0;
  margin: 24px 73px 17px 8px;
  font-family: Mohave;
  font-size: 45.6px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2.28px;
  text-align: left;
  color: #04034f;
}

.Contato {
  width: 122px;
  height: 46px;
  flex-grow: 0;
  margin: 24px 63px 17px 15px;
  font-family: Mohave;
  font-size: 45.6px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2.28px;
  text-align: left;
  color: #04034f;
}
 
.light-theme .texto, 
.light-theme .middle, 
.light-theme .middle-2, 
.light-theme .Rectangle-15 {
color: black;

}


