.navigation_header {
  font-family: Mohave;
  font-size: 32.3px;
  letter-spacing: -1.61px;
  color: #fff;
}

body {
  height: 2768px;
  background-image: linear-gradient(to bottom, #000, #0a071d);
}

.header,
.navigation_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.header {
  justify-content: space-between;
  padding: 0 4%;
  height: 10em;
}

.navigation_header {
  gap: 2em;
}

.navigation_header a {
  text-decoration: none;
  color: #fff;
  transition: 1s;
  white-space: nowrap;
  
  }

.ret_botao_navigation {
  -webkit-text-stroke: 1.6px #000;
  font-family: Mohave;
  font-size: 43px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -2.15px;
  text-align: center;
  color: #fff;

  border-radius: 17.1px;
  border: solid 1.6px #000;
  padding: 2%;
  background-image: linear-gradient(to bottom, #04034f 0%, #8929d4);
}



.A-programao-para-todos {
  font-family: Mohave;
  font-size: 136.9px;
  line-height: 1;
  letter-spacing: -6.85px;
  text-align: middle;
  color: #fff;
}

.A-programao-para-todos .text-style-1 {
  font-size: 144.5px;
  font-weight: 500;
  font-style: italic;
  line-height: 1;
  letter-spacing: -7.22px;
}

.nome_barra_mkt {
  position: static;
  width: 707px;
}

.img_barra_mkt {
  position: static;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; 
  padding-left: 4%;
}

.table_cursos {
  display: flex;
  justify-content: center;
  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
  
}

.table_cursos_img {
 width: 120%;
 height: 120%;
}
.Fale-conosco {
    width: 304px;
    height: 71px;
    margin: 123px 542px 10px 267px;
    font-family: Mohave;
    font-size: 70.8px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -3.54px;
    text-align: left;
    color: #fff;
}

.Talk-form{
    width: 1148px;
    height: 667px;
    margin: 10px 120px 1429.3px 43.7px;
    padding: 25px 54px 35px;
    border-radius: 33.1px;
    box-shadow: inset 0 3.7px 8.2px 0 rgba(0, 0, 0, 0.25), 0 3.7px 12.4px 2.8px rgba(214, 212, 212, 0.25);
    background-color: #fff;
}


.column {
    flex: 1;
    margin-right: 10px;
}

    .column:last-child {
        margin-right: 0;
    }

label {
    display: block;
    margin-bottom: 5px;
}

.Line-133 {
    width: 5px;
    height: 607px;
    margin: 0 55.5px 0 55.5px;
    transform: rotate(-270deg);
    background-color: #ebebeb;
}